page-profil-yayasan {
	ion-card img {
  		display: block;
  		width: 40vw;
  		margin: auto;
	}
	.scroll-content {
  background-color: #fff;
	}

	 .toolbar-background {
  background: #1B607C;
  border-color: transparent;
}

  .toolbar-title {
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  pointer-events: auto;
}

.edit {
  margin: 0 0 0 0;  
  border: 2px solid #3bc7bc;
  border-radius: 15px;
  
}

.logOut {
  margin: 0 0 0 0;  
  border: 2px solid color="danger";
  border-radius: 15px;
  
}

.seeDoc {
  margin: 0 0 0 0;  
  border: 2px solid ;
  border-radius: 15px;
  
}

.MainButton {
  height: 8vh;
}

.Pict{
  height: 30vw; 
  width: 30vw; 
  border-radius: 100%;
  display: block; 
  margin: auto;
  margin-top: 7vw;
}
  .Content{
    color: #2c2f33;
    font-size: 6vw;
    font-weight: 500;
  }
  .Content2{
    color: #2c2f33;
    font-size: 4vw;
    font-weight: 500;
  }

  
}
