<!--
  Generated template for the ProfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>      
          Sumbangin
      </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-card>
  
        <img src="assets/img/profile.png" *ngIf="!image" class="Pict" (click)="updatePicture()"/>
            <img [src]="image" *ngIf="image" class="Pict" (click)="updatePicture()"/>  
        
  
       <ion-card-content>
        <ion-card-title text-center>
          <ion-item>
          <p style="color:#C3BDBD; font-size: 12px;">Nama Yayasan</p>
          <h2> {{namaYayasan}} </h2>
        </ion-item>
  
        <ion-item>
            <p style="color:#C3BDBD; font-size: 12px;">Nama Pemilik</p>
            <h2> {{namaPemilik}} </h2>
          </ion-item>
  
          <ion-item>
              <p style="color:#C3BDBD; font-size: 12px;">Email</p>
              <h2> {{email}} </h2>
          </ion-item>
  
          <ion-item>
              <p style="color:#C3BDBD; font-size: 12px;">Nomor Ponsel</p>
              <h2> {{nomorPonsel}} </h2>
            </ion-item>
  
        <ion-item>
            <p style="color:#C3BDBD; font-size: 12px;">Kota</p>
            <h2> {{kota}} </h2>
          </ion-item>
        
        <ion-item>
          <p style="color:#C3BDBD; font-size: 12px;">Alamat</p>
          <h2> {{alamat}} </h2>
        </ion-item>
  
  
        </ion-card-title>
  
      </ion-card-content>
     
    </ion-card>
  
    <div padding>
      <button ion-button block (click)="lihatDokumen()">Lihat Dokument Surat Izin</button>
  </div>
  
    <div padding>
        <button ion-button block (click)="edit()">Edit</button>
    </div>
  
      <div padding>
        <button ion-button color="danger" block (click)='keluar()'>Keluar</button>
      </div> 
  
  
  
  </ion-content>
  