<!--
  Generated template for the ProfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="sumbangin">
    <ion-title>      
        Profil
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

      <img src="assets/img/profile.png" *ngIf="!image" class="Pict" (click)="updatePicture()"/>
      <img [src]="image" *ngIf="image" class="Pict" (click)="updatePicture()"/>

    
      <ion-item no-lines>
		    <p style="color:#3bc7bc; font-size: 3vw;">Nama</p>
		    <h2 class="Content"> {{nama}} </h2>
      </ion-item>

      <ion-item no-lines>
        <p style="color:#3bc7bc; font-size: 3vw;">Nomor Telepon</p>
        <h2 class="Content"> {{hp}} </h2>
      </ion-item>
      
      <ion-item no-lines>
		    <p style="color:#3bc7bc; font-size: 3vw;">Email</p>
		    <h2 class="Content"> {{email}} </h2>
      </ion-item>
      
      <ion-item no-lines>
		    <p style="color:#3bc7bc; font-size: 3vw;">Kota</p>
		    <h2 class="Content"> {{kota}} </h2>
  		</ion-item>

      <ion-item no-lines>
        <p style="color:#3bc7bc; font-size: 3vw;">Alamat</p>
        <h2 class="Content2"> {{alamat}} </h2>
      </ion-item>
      
    <div padding>
      <button class="MainButton" color="sumbangin" ion-button block (click)="edit()">Edit Profile</button>
      <br />
      <button ion-button color="danger" block (click)='logOut()'>Log Out</button>
    </div>

</ion-content>
