<ion-header>
  <ion-navbar color="sumbangin" no-border-bottom>
    <ion-title>
      Riwayat
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="options">
      <ion-segment-button value="diproses">
        Diproses
      </ion-segment-button>
      <ion-segment-button value="selesai">
        Selesai
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  
</ion-header>


<ion-content>
  <!-- Toolbar to wrap search bar
  <ion-toolbar>
-->
    <!-- Searchbar Code -->
    <!--<ion-searchbar
      placeholder="Search"
      (ionInput)="getItems($data)">
    </ion-searchbar>-->
    <!-- End of Searchbar Code -->
  <!--
  </ion-toolbar>
 End of Toolbar Code -->


  <div [ngSwitch]="options">

  <!-- List Code -->
  <ion-list *ngSwitchCase="'diproses'">

    <ion-item *ngFor="let data of diproses" (click)="itemTapped(data)">
        <ion-avatar item-left>
          <!-- <img src="{{ item.imgpath }}"> -->
        </ion-avatar>
        <h2>{{ data.nama_barang }}</h2>
        <p>{{ data.jenis_barang }}</p>
    </ion-item>

  </ion-list>

  <ion-list *ngSwitchCase="'selesai'">
    <ion-item *ngFor="let data of selesai" (click)="itemTapped1(data)">
        <ion-avatar item-left>
          <!-- <img src="{{ item.imgpath }}"> -->
        </ion-avatar>
        <h2>{{ data.nama_barang }}</h2>
        <p>{{ data.jenis_barang }}</p>
        </ion-item>
    </ion-list>

  <!-- End of List Code -->



  </div>
</ion-content>
