<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Sumbangin
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="progress">
        On Progress
      </ion-segment-button>
      <ion-segment-button value="done">
        Done
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Toolbar to wrap search bar
  <ion-toolbar>
-->
    <!-- Searchbar Code -->
    <ion-searchbar
      placeholder="Search"
      (ionInput)="getItems($event)">
    </ion-searchbar>
    <!-- End of Searchbar Code -->
  <!--
  </ion-toolbar>
 End of Toolbar Code -->


  <div [ngSwitch]="pet">

  <!-- List Code -->
  <ion-list *ngSwitchCase="'progress'">

    <ion-item *ngFor="let data of list" (click)="itemTapped(data)">
        <ion-avatar item-left>
          <!-- <img src="{{ item.imgpath }}"> -->
        </ion-avatar>
        <h2>{{ data.nama_barang }}</h2>
        <p>{{ data.jenis_barang }}</p>
    </ion-item>

  </ion-list>

  <ion-list *ngSwitchCase="'done'">
    <ion-item *ngFor="let data of yayasan" (click)="itemTapped(data)">
        <ion-avatar item-left>
          <!-- <img src="{{ item.imgpath }}"> -->
        </ion-avatar>
        <h2>{{ data.nama_barang }}</h2>
        <p>{{ data.jenis_barang }}</p>
        </ion-item>
    </ion-list>

  <!-- End of List Code -->



  </div>
</ion-content>
