page-list {
		.item p {
	  overflow: inherit;
	  margin: 0 0 2px;
	  font-size: 1.4rem;
	  line-height: normal;
	  text-overflow: inherit;
	  color: #6E0021;
	}

	 .toolbar-background {
  background: white;
  border-color: transparent;
}

	.toolbar-title {
		position: relative;
		top: 2.5vh;
		font-size: 2.3rem;
		font-weight: 600;
		text-align: center;
		color: #fff;
		pointer-events: auto;
		height: 10vh;
	}

	.back-button {
		color: #fff !important;
	}
	.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #3bc7bc; //ini warna Sumbangin
    opacity: 1;
  }

	.segment-md .segment-button{
		color: #3bc7bc;
	}

}
