<ion-header>
  <ion-navbar color="sumbangin" no-border-bottom>
    <ion-title>
      Riwayat Sumbangan
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="options">
      <ion-segment-button value="diproses">
        Diproses
      </ion-segment-button>
      <ion-segment-button value="selesai">
        Selesai
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  
</ion-header>


<ion-content>
  <!-- Toolbar to wrap search bar
  <ion-toolbar>
-->
    <!-- Searchbar Code -->
    <!--<ion-searchbar
      placeholder="Search"
      (ionInput)="getItems($data)">
    </ion-searchbar>-->
    <!-- End of Searchbar Code -->
  <!--
  </ion-toolbar>
 End of Toolbar Code -->


  <div [ngSwitch]="options">

  <!-- List Code -->
  <ion-list *ngSwitchCase="'diproses'">

   <ion-card *ngFor="let data of diproses.reverse()" (click)="itemTapped(data)">

      <p class="NamaBarang">{{data.nama_barang}}</p>
      <p class="NamaPanti">{{data.yayasan}}</p>
      <p class="Status">Status: <a  class="Status2" *ngIf='data.kurir_nama != 0'>Dalam Proses Pengiriman</a>  <a class="Status2" *ngIf='data.kurir_nama == 0'>Yayasan sedang memilih kurir</a></p>
      
        
  </ion-card>

  </ion-list>

  <ion-list *ngSwitchCase="'selesai'">
    <ion-card *ngFor="let data of selesai.reverse()" (click)="itemTapped(data)">

      <p class="NamaBarang">{{data.nama_barang}}</p>
      <p class="NamaPanti">{{data.yayasan}}</p>
      <p class="Status">Status: <a class="Status2">Selesai</a></p>
        
    </ion-card>  
  </ion-list>

  </div>
</ion-content>