
<ion-header>
	
	  <ion-navbar color="sumbangin">
		<ion-title>
				 Sumbang
		</ion-title>
	  </ion-navbar>
	
	</ion-header>
	
	
	<ion-content padding>
	
		<img class="Pict" src="assets/img/add-photo.png" *ngIf="!image" class="Pict" (click)="uploadBarangDonatur()"/>
		<img class="Pict2" [src]="image" *ngIf="image" class="Pict" (click)="uploadBarangDonatur()"/>
	
			<ion-grid>
				<ion-row>
						<ion-col>
									<ion-item class="Category">
										  <ion-label><p class="Sumbangin">Kategori Barang</p></ion-label>
										  <ion-select [(ngModel)]="jenis_barang" name="jenis_barang">
											<ion-option value="elektronik">Elektronik</ion-option>
											<ion-option value="alat">Alat Tulis</ion-option>
											<ion-option value="sandang">Sandang</ion-option>
										  </ion-select>
								</ion-item>
						</ion-col>
					</ion-row>
					<br />
					<ion-row>
							<ion-col>
									<ion-item>
											<ion-input nama="nama_barang" type="text" placeholder="Nama Barang" #nama_barang></ion-input>
									</ion-item>
							</ion-col>		
					</ion-row>
					<ion-row>
							<ion-col>
									<ion-item>
											<ion-input nama="jumlah_barang" type="text" placeholder="Jumlah Barang" #jumlah_barang></ion-input>
									</ion-item>
							</ion-col>		
					</ion-row>
				 <ion-row>
						<ion-col>
									<ion-item>
											<ion-input type="text" value="" name="berat_barang" placeholder="Berat Barang" #berat_barang></ion-input><p>Kg</p>
								</ion-item>
						</ion-col>
				</ion-row>
				<ion-item>
							<ion-textarea name="deskripsi" type="textarea" value="" placeholder="Deskripsi" #deskripsi></ion-textarea>
				</ion-item>
			</ion-grid>
		
	
		<div padding>
			<button class="MainButton" type="submit" ion-button color="sumbangin" block (click)='post_donatur()'><p class="HeadButton">Sumbangkan</p></button>
		  </div>
	
	
	</ion-content>
	