page-home {
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 180%;
    width: 180%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  ion-slides {
  width: 100%;
  height: 30%;
  display: block;
}

  .slide-image {
    max-width: 100%;
    margin: 1vw 0;
  }

  .slider {
	height: 70vw; /* slider height you want */
   }
	.slider-slide {
	 color: #000;
	 background-color: #fff;
	 height: 100%;
	} 

  b {
    font-weight: 500;
  }


  .scroll-content {
  background-color: #91AEC3;
  }
  .ion-card-content{
    width: 100%;

  }

 .toolbar-background {
  background: #1B607C;
  border-color: transparent;
  }

  .social-cards ion-col {
    padding: 0;
  }

  .button-small {
  padding: 0 0.9em;
  height: 2.1em;
  font-size: 2rem;
}

  .card .note {
  font-size: 2rem;
  align: right;
}

.toolbar-title {
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  pointer-events: auto;
}

.back-button {
  color: #fff !important;
}

.note{
  color : red;
  font-size: 2rem;
  }

}