page-detail-kurir {
    .toolbar-title {
        font-size: 2.3rem;
        font-weight: 600;
        // text-align: center;
        color: #fff;
        pointer-events: auto;
    }

    .MainButton {
		height: 8vh;
	}

    .button-inner {
        color: white;
    }
    .Warning {
        color: #f53d3d;
    }
}
