<ion-header>
  <ion-navbar color="sumbangin">
    <ion-title>
    	Detail Riwayat
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-wrap>

  <p class="Title Padding">Detail Sumbangan</p>

  <img class="Pict" src="assets/img/backgrounds/img1.png"/>

  <p class="SubTitle Padding">Nama Sumbangan</p>
  <p class="Content Padding">{{item.nama_barang}}</p>

  <p class="SubTitle Padding">Tujuan Sumbangan</p>
  <p class="Content Padding">Yayasan {{ item.penerima_yayasan.namaYayasan }}</p>

  <p class="SubTitle Padding">Status: <a class="Status2" *ngIf='item.status==1'>Dalam Proses</a><a class="Status2" *ngIf='item.status==2'>Selesai</a></p>



  <div padding>
    <button class="MainButton" color="sumbangin" ion-button block (click)='doAlert()'><p>Konfirmasi Penerimaan</p></button>
  </div>

<!--      <div padding>
    	<button ion-button color="secondary" block (click)='doRadio()'>Pilih Yayasan</button>
  	</div> -->

</ion-content>	