page-yayasan-barang {
	 .toolbar-background {
		  background: #1B607C;
		  border-color: transparent;
		}

		.back-button {
  		color: #fff !important;
		}

		.scroll-content {
  		background-color: #91AEC3;
		}

		.toolbar-title {
		  font-size: 2.3rem;
		  font-weight: 600;
		  text-align: center;
		  color: #fff;
		  pointer-events: auto;
		}

}
