<ion-header>
  <ion-navbar color="sumbangin">
    <ion-title>
    	Detail Riwayat
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-wrap>

  <p class="Title Padding">Detail Sumbangan</p>

  <!-- <img class="Pict" src="assets/img/backgrounds/img1.png"/> -->
  <img src="assets/img/profile.png" *ngIf="!image" class="Pict" />
  <img [src]="image" *ngIf="image" class="Pict" />

  

  <p class="SubTitle Padding">Nama Sumbangan</p>
  <p class="Content Padding">{{item.nama_barang}}</p>

  <p class="SubTitle Padding">Tujuan Sumbangan</p>
  <p class="Content Padding">{{item.yayasan}}</p>

  <p class="SubTitle Padding">Kurir</p>
  <p class="Content Padding">{{item.kurir_nama}}</p>

  <p class="SubTitle Padding">No. Hp Kurir</p>
  <p class="Content Padding">{{item.kurir_hp}}</p>

  <p class="SubTitle Padding">Status: <a class="Status2" *ngIf='item.status==1'>Dalam Proses</a><a class="Status2" *ngIf='item.status==2'>Selesai</a></p>


</ion-content>	