<!--
  Generated template for the DocumentYayasanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>      
            Sumbangin
        </ion-title>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <img src="assets/img/document.png" *ngIf="!image" class="Pict8"/>
    <img [src]="image" *ngIf="image" class="Pict"/>  

    <div padding>
        <button class="tombolBalik" color="sumbangin" ion-button block (click)="goBack()">Kembali</button>
    </div>
</ion-content>
