<!--
  Generated template for the ProfilPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="sumbangin">
      <ion-title>      
          Edit Profile
      </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content text-center padding>
      
        
  
          <img src="assets/img/profile.png" *ngIf="!image" class="Pict" (click)="updatePicture()"/>
          <img [src]="image" *ngIf="image" class="Pict" (click)="updatePicture()"/>
  
        <ion-item>
          <ion-label stacked style="color:#3bc7bc; font-size: 3vw;">Nama</ion-label>
          <ion-input type="text" [(ngModel)]="nama" name="Nama" value="{{nama}}"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label stacked style="color:#3bc7bc; font-size: 3vw;">Nomor Telepon</ion-label>
          <ion-input type="text" [(ngModel)]="hp" name="No. Hp" value="{{hp}}"></ion-input>
        </ion-item>
  
        <!-- <ion-item>
          <p style="color:#C3BDBD; font-size: 12px;">Provinsi</p>
          <h2> {{provinsi}} </h2>
        </ion-item> -->
        <ion-item>
            <ion-label style="color:#3bc7bc; font-size: 3vw;">Kota</ion-label>
            <ion-select class="Head2" name="kota" [(ngModel)]="kota" [ngModelOptions]="{standalone: true}" >
             <ion-option value="Jakarta Barat">Jakarta Barat</ion-option>
             <ion-option value="Jakarta Pusat">Jakarta Pusat</ion-option>
             <ion-option value="Jakarta Selatan">Jakarta Selatan</ion-option>
             <ion-option value="Jakarta Timur">Jakarta Timur</ion-option>
             <ion-option value="Jakarta Utara">Jakarta Utara</ion-option>
            </ion-select>
           </ion-item>
    <!-- <ion-select [(ngModel)]="bank" name="Pilihan Bank" (ionChange)="cekBank()" type="text" [ngModelOptions]="{standalone: true}" class="Head2"> -->
  
        <ion-item>
          <ion-label stacked style="color:#3bc7bc; font-size: 3vw;">Email</ion-label>
          <ion-input type="text" [(ngModel)]="email" name="Email" value="{{email}}"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label stacked style="color:#3bc7bc; font-size: 3vw;">Alamat</ion-label>
          <ion-input type="text" [(ngModel)]="alamat" name="Alamat" value="{{alamat}}"></ion-input>
        </ion-item>
  
      
       
           
  
       
  
        
  
    <div padding>
        <button class="MainButton"color="sumbangin" type="submit" ion-button block (click)="edit()">Update Profile</button>
    </div>
  
  
  </ion-content>