<ion-header>
  <ion-navbar color="sumbangin">
    <ion-title>
    	Detail Yayasan {{item.nama}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

  <img src="assets/img/profile.png" *ngIf="!image" class="Pict" />
  <img [src]="image" *ngIf="image" class="Pict"/>


  <div text-wrap padding>
    <p class="NamaYayasan">{{item.namaYayasan}}</p>
    <p class="AlamatYayasan">{{item.alamat}}<br>({{item.hp}})</p>
  
    <div class="About">
      <!-- <p class="Head"><b>Tentang:</b></p> -->
      <p class="Center">Tentang</p>
      <p class="Description">{{item.deskripsi}}</p>
    </div>

    <!-- <p class="Need">Kebutuhan : <button class="Needed">Sandang</button> <button class="Needed">Alat Tulis</button> <button class="Needed">Sandang</button> <button class="Needed">Pangan</button> <button class="Needed">Papan</button> </p> -->
  </div>



    <div padding>
      <button ion-button class="MainButton" color="sumbangin" block (click)='sumbang(data)'><p class="HeadButton">Sumbang</p></button>
    </div>

</ion-content>
