page-register-yayasan {
	ion-content img {
		display: block;
		width: 60vw;
		height : 60vw;
		margin: auto;
}

.toolbar-background {
	background: #1B607C;
	border-color: transparent;
}

.back-button {
	color: #fff !important;
}

.toolbar-title {
	font-size: 2.3rem;
	font-weight: 600;
	text-align: center;
	color: #fff;
	pointer-events: auto;
}

.scroll-content {
background-color: #fff;
}

.item-ios {
		position: relative;
		padding-left: 1px;
		border-radius: 0;
		font-size: 1.7rem;
		color: #fff;
		background-color: #fff;
		transition: background-color 200ms linear;
}

.item-md {
position: relative;
padding-right: 0;
padding-left: 1px;
font-size: 1.6rem;
font-weight: normal;
text-transform: none;
color: #fff;
background-color: #fff;
box-shadow: none;
transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-ios > .item-block:first-child {
	border-top: 0px solid #767676;
}

.list-md .item-block .item-inner {
border-bottom: 1px solid #767676;
}


	.Head {
        font-size: 5vw;
        color: white;
    }
	.Head2 {
        font-size: 5vw;
        color: white;
    }

	.icon {
        font-size:7vw;
        color: white;
        float:right;
    }

}
